.container {
  background-color: #161616;
  color: white;
  overflow: scroll;
  overflow-x: hidden;

  height: 48vh;
}

.row {
  margin-top: 3px;
  margin-bottom: 3px;
}

.row:hover {
  background: #444444;
}

.colorRed {
  color: #dc3545;
}

.colorGreen {
  color: #28a745;
}

.colorYellow {
  color: #ffc107;
}

.detailItem {
  white-space: pre-wrap;
  font-family: monospace;
}

.diffRow {
  font-family: monospace;
  display: flex;
}

.diffRow:hover {
  background: #222222;
}

.diffOldLine, .diffNewLine {
  margin: 0em 1em;
  min-width: 2rem;
}

.diffOldLine {
  color: #646464;
}

.diffNewLine {
  color: #bbbbbb;
}

.diffHr {
  border: 1px solid #646464;
}

.viewToggleContainer {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.collapsedItem {
  max-height: 4em;
  overflow: hidden;
}
