.container {
  height: 23em;
  width: 100%;

  padding: 1.5rem;

  background-color: #161616;
  color: white;
  overflow: scroll;
}

.row {
  display: flex;

  justify-content: center;
  padding-top: 1rem;
  align-items: baseline;
}

.row:hover {
  background: #444444;
}

.rowHide {
  display: none;
}

.rowHeader, .rowBefore, .rowArrow {
  margin-right: 2rem;
}

.rowHeader {
  min-width: 20rem;
  max-width: 20rem;

  font-weight: bold;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.rowBefore, .rowAfter {
  flex: 1;
}

.rowBefore pre, .rowAfter pre {
  margin: 0;

  word-break: break-word;
  white-space: pre-wrap;
}

.rowArrow {
  align-self: center;
}

.colorRed {
  color: #dc3545;
}

.colorGreen {
  color: #28a745;
}

.colorYellow {
  color: #ffc107;
}

.rowAddress {
  display: flex;
  flex: 0 0 100%;
  font-weight: bold;
  align-items: baseline;
  margin-left: 1em;
  justify-content: space-between;
}

.address {
  font-size: 2rem;
  align-items: baseline;
}

.rowToggle {
  justify-content: flex-end;
  margin-right: 1em;
}

.button {
  background: #d4caca;
  font-size: 16px;
  border-radius: 8px;
  padding-left: 12px;
  padding-right: 12px;
  padding-top: 6px;
  padding-bottom: 6px;
  margin-top: 4px;
  margin-bottom: 4px;
  margin-right: 2px;
  margin-left: 2px;
}

.diffRow {
  font-family: monospace;
  display: flex;
}

.diffRow:hover {
  background: #222222;
}

.diffOldLine, .diffNewLine {
  margin: 0em 1em;
  min-width: 2rem;
}

.diffOldLine {
  color: #646464;
}

.diffNewLine {
  color: #bbbbbb;
}

.diffHr {
  border: 1px solid #646464;
}
